* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h3 {
  margin: 0 !important;
}

.main-page-content {
  display: flex;
  height: auto;
}
.main-content {
  background-color: #f1f8ff;
  padding: 1rem;
  width: 85%;
  height: 100vh;
  /* overflow-y: scroll; */
  margin-left: 15%;
  position: relative;
}
.table-title {
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  background-color: #fff;
}
.table-title-container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  padding: 0 0.5rem;
}

.table-heading {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  position: sticky;
  top: 3.5rem !important;
  z-index: 2;
  left: 0;
  box-shadow: 0 10px 15px -5px rgb(128, 128, 128);
}

.user-table-heading {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  position: sticky;
  top: 3rem !important;
  z-index: 2;
  left: 0;
  box-shadow: 0 10px 15px -5px rgb(128, 128, 128);
}

.table {
  width: 100%;
  display: table;
  margin: 0;
  overflow-y: auto;
  position: relative;
}
.table-row {
  display: table-row;
  z-index: 2;
}

.table-row:nth-child(odd) {
  background-color: rgba(169, 168, 168, 0.583);
}

.cell {
  display: table-cell;
  padding: 0.5rem;
  height: max-content;
}

.table-values {
  font-weight: 600;
}
.text-grey {
  margin-top: 0;
  color: #767f8e;
}
.text-green {
  color: #3ea368 !important;
}
.text-red {
  color: #ad3f29 !important;
}

.no-mg-bottom {
  margin-bottom: 0;
}
.badge {
  margin-right: 2rem;
  font-size: 0.9rem;
  padding: 0.5rem;
  height: max-content;
  width: max-content;
}

.login-btn {
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(128, 128, 128, 0.671);
  width: max-content;
  height: max-content;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(63, 106, 145);
  color: #fff;
  display: block;
  margin: 1rem auto;
}

.login-title {
  font-size: 1.5rem;
  text-align: center;
}

.login-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 30%;
  height: 40%;
  box-shadow: 0 10px 20px -2px rgb(171, 206, 243);
  border-radius: 0.5rem;
  padding: 1rem;
}

.dashboard-container {
  background-color: #fff;
  position: relative;
}
.download-btn {
  height: 1.25rem;
  width: 1.5rem;
}

.roles-container {
  max-width: 15rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.roles-container > span {
  margin: 0;
}

.details-modal-container {
  position: absolute;
  top: 1rem;
  left: 2.5rem;
  z-index: 1;
  box-shadow: 0 10px 15px rgba(157, 160, 160) !important;
  border: 1px solid rgba(157, 160, 160);
  background-color: #fff !important;
  border-radius: 0.5rem;
  width: 12rem;
  max-height: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-y: scroll;
  padding: 0.5rem;
}

.workspace-modal-details {
  left: -12rem;
  top: 2rem;
}

.workspace-users-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: none;
  height: 20rem;
  overflow-y: auto;
  width: 20rem;
  z-index: 4;
  flex-direction: column;
  box-shadow: 0 10px 20px -5px rgba(184, 192, 194, 0.773);
}
.workspace-users-details > p {
  word-break: break-all;
  white-space: normal;
}

.details-modal-container  > span {
  margin: 0;
}

.loader-group {
  gap: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-group.sm{
  top: 5rem;
}

.modal-close-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: max-content;
}

.details-modal-close-btn {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.user-details-container {
  display: flex;
  flex-direction: column;
}

.google_login-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.growth-card-container {
  height: max-content;
  width: 15rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 20px -5px rgba(163, 164, 164, 0.667);
  display: flex;
}

.growth-chart__container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

.growth-details__container {
  width: 40%;
  height: 100%;
  padding: 0.25rem;
}

.growth-details-item > p {
  font-size: 0.75rem;
  font-weight: 600;
}

.growth-details-item > .growth-details-content {
  color: gray;
}

.positive-growth {
  color: #9ee74b !important;
}

.negative-growth {
  color: #e14545 !important;
}

.details-table__container {
  border-radius: 0.5rem;
  /* border: 1px solid #797979; */
  overflow: hidden;
  flex-grow: 1;
  overflow-y: scroll;
  margin-left: 2rem;
  cursor: pointer;
  min-height: 10rem;
  /* max-height: 22rem; */
  height: 80%;
  margin-top: 2rem;
  margin-right: 5rem;
}

.details-table__container > .table-filters__container {
  display: flex;
  justify-content: flex-end;
  /* background-color: #fff; */
}

.search-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0;
}

.search-container > .search-input {
  outline: 1px solid transparent;
  padding: 0;
  font-size: 0.8rem;
  width: 0;
  opacity: 0;
  transition: 0.25s;
}

.search-container > .search-input.show {
  transform: translateY(0);
  width: 15rem;
  padding: 0 0.5rem;
  opacity: 1;
}

.search-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: inherit;
  cursor: pointer;
}

.details-table-heading__container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #3b9cc9;
  color: #1e2f54;
  font-size: 0.8rem;
  position: sticky;
  top: 0;
  left: 0;
}

.detail-body__container {
  font-size: 0.75rem;
}

.detail-row {
  width: 100%;
}
.detail-row > .detail-item  > .actions__container {
  opacity: 0;
  transition: 0.25s;
}

.detail-row > .detail-item.detail-item-link {
  text-decoration: underline;
}
.detail-row > .detail-item.detail-item-link.task-name{
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.detail-row > .detail-item.detail-item-link.task-name.task-hover {
  text-decoration: underline;
  word-wrap: break-word;  
  overflow-x: auto;
  text-overflow: clip;
  word-break: break-all;
  white-space: normal;
}

.detail-row:hover > .detail-item  > .actions__container{
  opacity: 1;
}

.position-top-right {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.release-miletone-names__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 32px;

}

.release-milestone-header {
  margin-top: 32px !important;
  margin-left: 32px !important;
  margin-bottom: 15px !important;
}

.release-miletone-names__container > .milestone-name {
  background: #c3cfd4;
  padding: 5px;
  border-radius: 5px;
}